.header-nav{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgba(2, 51, 13, 0.87), rgb(3, 70, 3), rgb(6, 87, 17));
    padding: 10px;
    margin: -8px;
    box-shadow: 0 2px 6px rgba(6, 104, 16, 0.788);
}
.header-nav a {
    color: rgb(37, 25, 1);
    text-decoration: none;
    font-size: 18px;
    padding: space-between;
}   

#cursor-img {
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  z-index: 1000;
 }
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: none;
}