body {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
     background-image: linear-gradient(to right, #576181, #4a9784);
    color: #d8ecd3;
    text-align: center;
    cursor: none;
}

h1 {
     background: linear-gradient(to right, #0a1129, #054e61, #06580a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

p {
    background-color: #065551;
    padding: 10px;
    border-radius: 5px;
}

ol {
    text-align: left;
    margin: 20px auto;
    max-width: 700px;
    background-color: #035f57;
    padding: 20px 40px;
    border-radius: 5px;
}

#score {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #2e8b57;
}

#feedback {
    min-height: 50px;
    font-size: 18px;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #025752;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

#cards div {
    width: 120px;
    padding: 10px;
    border: 2px solid #023147;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #025752;
}

#cards div:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#cards img {
    margin-bottom: 10px;
    border-radius: 5px;
}

#botão {
    background-color: #095757;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botão:hover {
    background-color: #2c5a80;
}
#score{
    color: #023147;
}
#cursor-img {
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  z-index: 1000;
}
#botao-voltar {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #033f0d;
      color: rgb(255, 255, 255);
      padding: 10px 15px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-family: 'Orbitron', sans-serif;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      z-index: 1000;
      transition: background-color 0.3s;
    }

    #botao-voltar:hover {
      background-color: #318529;
    }